/* btn */
.menuBar {
	display:  flex;
	position: relative;
	align-items: center;
	justify-content: center;
}
.menuBar span {
	position: relative;
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
	-webkit-transition-duration: 0s; transition-duration: 0s;
}
.menuBar span:before, 
.menuBar span:after {
	position: absolute;
	content: '';
}
.menuBar span, 
.menuBar span:before, 
.menuBar span:after {
	width: 34px;
	height: 3px;
	display: block;
	background-color: #222121;
}
.menuBar span:before {
	margin-top: -5px;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
}
.menuBar span:after {
	margin-top: 5px;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
}

.menuBar.open span {
	background-color: rgba(255,173,56,0.0);
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}

.menuBar.open span:before {
	margin-top: 0;
	-webkit-transform: rotate(45deg); transform: rotate(45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}

.menuBar.open span:after {
	margin-top: 0;
	-webkit-transform: rotate(-45deg); transform: rotate(-45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}